<form action="/robots" method="post">
  <p>Enter a new Bot:</p>
  <lable>Name</label>
  <input type='text' name='robot[name]'/><br/>
  <lable>City</label>
  <input name='robot[city]'></input><br/>
  <lable>State</label>
  <input name='robot[state]'></input><br/>
  <lable>Department</label>
  <input name='robot[department]'></input><br/>
  <input type='submit'/>
</form>
